# InyongDesktop
# PyCharm
.idea/misc.xml
.idea/modules.xml
.idea/Study.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml

# InyongLaptop
# PyCharm
.idea/misc.xml
.idea/modules.xml
.idea/Study.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
