# PyCharm
.idea
.idea/misc.xml
.idea/modules.xml
.idea/Study.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml

# Python
__pycache__

# Deep Learning - Data, folder, file, directory
tmp
*.weights
*.gz

# Git
.git
.gitignore

# Enemy-Spotted
"IV. COLAB/Enemy-Spotted/2. Uniform Classification/chromedriver_win32"
"IV. COLAB/Enemy-Spotted/2. Uniform Classification/data"
