# PyCharm
.idea
.idea/misc.xml
.idea/modules.xml
.idea/Study.iml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml

# Python
__pycache__

# Deep Learning - Data, folder, file, directory
tmp
*.weights
*.gz

# Git
.git
.gitignore

# Enemy-Spotted
"IV. COLAB/Enemy-Spotted/2. Uniform Classification/chromedriver_win32"
"IV. COLAB/Enemy-Spotted/2. Uniform Classification/data"

# _MY
"_MY/MySelf/Contact/Line.py"
"_MY/MySelf/Contact/Key.py"
"_MY/MySelf/Contact/key"
"_MY/MySelf/Contact/MyNotebook/*"
"_MY/MySelf/Contact/InyongLaptop/*"

"_MY/MySelf/Post/BootCamp.py"
"_MY/MySelf/Post/Key.py"
"_MY/MySelf/Post/key"
"_MY/MySelf/Post/example"

"_MY/MySelf/BootCamp"

# Web
'VI. Language/_Web/Tutorial/*'